html, body {
    font-family: -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);


    margin: 0px;
    max-height: 100%;
    max-width: 100%;
}

#layout {
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr 50px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    /* align-items: center; */
    gap: 5px;
}

.layout-sections {
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

#libs-container {
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
    
}


.shelf {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    transition: 0.1s;
    background-color: #FFDEE9;
    background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    border-radius: 6px;
    padding: 10px;
    width: 40vw;
    min-width: fit-content;
    font-size: 20px;
}

.shelf button {
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    border: 1px solid black;
    border-radius: 3px;
}

h1 {
    font-size: 60px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    color: #F7F5F2;
    
}

input {
    border-radius: 5px;
    font-size: 20px;
    border: 0;
    padding: 7px;
    box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

form {
    color: #F7F5F2;
    font-weight: 600;
    /* width: 50vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2vh;
    border: 0;
}

form button {
    height: fit-content;
    width: fit-content;
    font-size: 20px;
    background-color: white;
    border: 0;
    padding: 5px;
    
}

.property {
    border-right: 2px solid black;
    /* width: 25%;
    height: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#libs-container button {
    height: fit-content;
    width: fit-content;
}